body{
    background-color: rgb(152, 236, 236);
    
   
}

.main-box{
    background-color: white;
    width: 600px;
    height: 350px;
    border-radius: 10px;
    margin-top: 10%;
    overflow: auto;
    
}

.form {
    text-align: left;
    padding: 20px;
    margin: 15px;
    
   
}

.tips{
    margin-top: 20px;
}

.interest *{
    
    padding-top: 7px;
    margin: 5px;
    margin-left: 0px;
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 30px;
    border-radius: 4px;
    color: white;
    background-color: rgb(4, 116, 101)
    
}
.interest *:hover{
    cursor: pointer;
    background-color: rgb(152, 236, 236);
}

input[type=Number]{
    width: 255px;
    border-radius: 3px;
    
    
}

input.icon{
    background-image: url(person.jpg);
    background-size: 20px 20px; 
    background-repeat: no-repeat;
    text-align: right;
    
    border: .05px rgb(224, 97, 97) solid;
    
}

.note{
    height: 300px;
    width: 250px;
    border-radius: 7px;
    background-color:rgb(4, 116, 101) ;
    float: left;
    position: relative;
    left: 300px;
    bottom: 275px;
    color: white;
    
    
    
}

 .note label {
    position: absolute;
    margin: 20px;
    
}
.note p{
    font-size: x-large;
    margin: 20px;
    text-align: right;
    color: rgb(152, 236, 236);
    font-weight: 600;
}

input[type=reset]{
    width: 200px;
    position: relative;
    left: 25px;
    top: 30px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}


