body{
    background-color: whitesmoke;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}


.parents{
    width: 900px;
    height: 500px;
    position: relative;
    text-align: center;
    

}


.child-one{
    background-image: url(sedan.png);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: top;
    left: 0px;
    display: inline-block;
    position: absolute;
    bottom:  0px;
    overflow: auto;
    width: 300px;
    height: 500px;
    background-color: orange;
    border-radius: 10px;
    
}

.child-two{
    background-image: url(electric-car.png);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: top;

    border-radius: 10px;
    position: absolute;
    right: 300px;
    display: inline-block;
    overflow: auto;
    width: 300px;
    height: 500px;
    background-color:indigo ;
    

}

.child-three{
    background-image: url(van.png);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: top;

    border-radius: 10px;
    position: absolute;
    right: 0;
    display: inline-block;
    overflow: auto;
    width: 300px;
    height: 500px;
    background-color:rgb(202, 141, 245) ;
}

.parents p ,h2 ,a{
    padding: 15px;
   text-align: left;
   position: relative;
    top: 100px;
    
}

 a{
    
    top: 125px;
    width: 60px;
    height: 25px;
    border: 2px solid;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    line-height: 35px;
    
}

h2{
    text-transform: uppercase;
}

