.breif{
    border: 2px solid gray;
    border-radius: 3px;
    padding: 5px;
    width: 80%;
    margin: auto;
}
img{
    width: 200px;
    height: 200px;
}
.manger{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emp{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.one {
  
    text-align: center;

}

h1{
    text-align: center;
}

.main{
    width: 80%;
    margin: auto;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
}